#mc_embed_signup {
  width: 400px;
  position: absolute;
  top: 300px;
  left: 184px;
}

#mc_embed_signup form {
  text-align: center;
}

#mc_embed_signup h2 {
  font-weight: 100;
}

@media only screen and (max-device-width: 480px) {
  #mc_embed_signup {
    margin-top: 50px;
  }
}

#mc_embed_signup > form > * {
	width: auto !important;
}

#mce-responses div.response {
	width: auto;
}

#mc_embed_signup #mce-error-response {
	color: red;
}